//
//  ConfigProd.xcconfig
//  wiki-app
//
//  Created by Aravinda Rathnayake on 2/4/20.
//  Copyright © 2020 Aravinda Rathnayake. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-wiki-app/Pods-wiki-app.release.xcconfig"

WIKI_APPLICATION_NAME=Prod
WIKI_APP_NAME = WikiApp
WIKI_APP_VERSION = 1.0
WIKI_APP_BUNDLE_ID = com.aravindakr95.wiki-app
WIKI_APP_ICON = AppIconProd

